/* common custom css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: #000;
}
.active{
    color: #00f;
}
.hide{
    display: none;
}
i{
    cursor: pointer;
    font-size: 1.625rem;
}
.nightMode{
    color: #fff;
    background-color: #000;
}
body{
    color: #000;
    background-color: #fff;
}
/* end common custom css */



/* header section design */
header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
}
/* end header section design */


/* main section design */
main{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    margin-top: 50px;
}
.container{
    width: 60%;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* welcome-note style  */
.welcome-note p{
    font-size: 2.5rem;
    font-style: italic;
    width: fit-content;
    margin: auto;
}
#emoji{
    width: 30px;
}
/* end welcome-note style  */

/* digital clock style  */
.digi-clock{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.digi-clock span{
    font-size: 5rem;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
    
}
.digi-clock span#mode{
    font-size: 2rem;
}
.digi-clock span::after{
    position: absolute;
    color: #000;
    font-size: 1rem;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    font-weight: 600;
}
.digi-clock span.white::after{
    color: #fff;
}
.digi-clock span#hour::after{
    content: 'HOURS';
}
.digi-clock span#min::after{
    content: 'MINS';
}
.digi-clock span#sec::after{
    content: 'SEC';
}
/* end digital clock style  */

/* analog clock style  */
.ana-clock{
    width: 250px;
    height: 250px;
    border-width: 8px;
    border-style: solid;    
    border-radius: 50%;
    margin: auto;
    position: relative;
    display: none;
}
.point{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hour{
    font-size: 22px;
    font-weight: 600;
    /* color: #000; */
    position: absolute;
}
.hour-1{
    top: 12.5%;
    right: 60px;
    transform: translateY(-12.5%);
}
.hour-2{
    top: 27%;
    right: 30px;
    transform: translateY(-27%);
}
.hour-3{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.hour-4{
    bottom: 27%;
    right: 30px;
}
.hour-5{
    bottom: 12.5%;
    right: 60px;
}
.hour-6{
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.hour-7{
    bottom: 12.5%;
    left: 60px;
}
.hour-8{
    bottom: 27%;
    left: 30px;
}
.hour-9{
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.hour-10{
    top: 27%;
    left: 22px;
    transform: translateY(-27%);
}
.hour-11{
    top: 12.5%;
    left: 52px;
    transform: translateY(-12.5%);
}
.hour-12{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.brand{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    font-weight: 700;
}
.minute-hand-wrapper{
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    top: 37px;
    left: 37px;
}
.minute-hand{
    position: relative;
}
.minute-hand .hand{
    width: 4px;
    height: 80px;
    background-color: #000;
    position: absolute;
    left: 78px;
}

.hour-hand-wrapper{
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    top: 57px;
    left: 57px;
}
.hour-hand{
    position: relative;
}
.hour-hand .hand{
    width: 4px;
    height: 60px;
    background-color: #000;
    position: absolute;
    left: 58px;
}
.second-hand-wrapper{
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    top: 47px;
    left: 47px;
}
.second-hand{
    position: relative;
}
.second-hand .hand{
    width: 2px;
    height: 70px;
    background-color: #000;
    position: absolute;
    left: 68px;
}

/* end analog clock style  */

/* end main section design */


/* footer section design */
footer{
    width: 100%;
    height: 50px;
    border-top: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
}
/* end footer section design */






/* media query for different screen  */
@media (max-width: 592px) {
    /* welcome-note style  */
    .welcome-note p{
        font-size: 1.125rem;
    }
    #emoji{
        width: 20px;
    }
    /* end welcome-note style  */
}
@media (max-width: 480px) {
    .container{
        width: 100%;
    }
    .digi-clock {
        flex-direction: column;
    }
    .digi-clock span.colon{
        display: none;
    }
    .digi-clock span#mode{
        margin-top: 1rem;
    }

    
}